server:
  port: 8081
spring:
  application:
    name: hotel-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/hotel_db
management:
  endpoints:
    web:
      exposure:
        include: "*"

